
.btn ,.btn-primary,.btn-primary:focus,.btn-primary:hover{    background-color: white;
    color: black;
    border-radius: 0%;
    border-color: cornflowerblue;
}
p,h1,h2{
    display: flex;
    justify-content: center;
}
.btn-check:focus + .btn-primary, .btn-primary:focus{
    box-shadow: 0 0 0 0rem rgba(49,132,253,.5);
}